body{
	font-family: Roboto;
	background-color: lightgray
}

#grid {
	width: 980px;
}

h1{
    font-size: 2em;
}

.mdl-cell{
    padding:10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}