body{
	font-family: Roboto;
	background-color: lightgray
}

#grid {
	width: 980px;
}

#title{
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.mdl-cell{
    padding:10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line {
  display: none;
}

.short-season{
    fill:red;
}

.linechart {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.label{
    font-size: 1.3em;
}